---
import BaseLayout from "@/components/BaseLayout.astro";
import CopyButton from "@/components/CopyButton.astro";
const text = "piseatharva7@gmail.com";
---

<BaseLayout title="Contact" description="Top ways to get in touch with me">
  <section>
    <div class="mx-auto max-w-7xl border-x border-white/20">
      <div class="gradient-grid mx-auto p-8 lg:pt-28">
        <h1 class="text-xl lg:text-3xl">
          Top 3 Ways to <br />
          distract me while <br />
          i am eating a burrito
        </h1>
      </div>
      <div class="border-b border-white/20 p-8 text-xl lg:text-2xl">
        <div class="flex items-center gap-4">
          <p>mail</p>
          <CopyButton {text} />
        </div>
        <a
          href="https://x.com/at_the_vr"
          rel="noopener noreferrer"
          class="underline decoration-dotted underline-offset-4 duration-200 hover:text-primary/90"
          >Twitter</a
        >
        <br />
        <a
          href="https://www.linkedin.com/in/at-the-vr/"
          rel="noopener noreferrer"
          class="underline decoration-dotted underline-offset-4 duration-200 hover:text-primary/90"
          >Linkedin</a
        >
      </div>
    </div>
  </section>
</BaseLayout>
