---

---

<section>
  <div class="gradient-grid mx-auto max-w-7xl border-x border-white/10">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-xl lg:text-2xl">
        Making the Web React to You <br /> Codes in <span class="line-through"
          >Java</span
        > TypeScript
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8 pt-4">
      <p class="text-base lg:text-lg">
        Someone with a knack for website design and development. I like to
        engage in SDLCs of website and webapps. I actively contribute to Astro
        Framework <span class="font-body">&</span> its community.
      </p>
    </div>
  </div>
</section>
