<section class="mx-auto w-full bg-black lg:fixed lg:z-50 2xl:max-w-7xl">
  <div class="mx-auto mt-1 w-full max-w-7xl border-x border-white/20">
    <div
      class="flex w-full flex-col items-center justify-between text-center sm:flex-row sm:px-8 md:px-0"
    >
      <a
        href="/"
        class="py-4 text-lg font-semibold md:px-8 md:text-center md:text-lg"
        >Atharva Types
      </a>
      <a
        href="/contact"
        class="w-full bg-white px-6 py-4 text-lg text-black duration-200 hover:bg-black hover:text-white sm:rounded-full md:text-lg lg:ml-auto lg:w-auto"
        >Contact</a
      ><a
        href="/blog"
        class="w-full bg-primary px-6 py-4 text-lg text-black duration-200 hover:bg-black hover:text-white sm:rounded-full md:text-lg lg:w-auto"
        >Blog</a
      >
    </div>
  </div>
</section>
